#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: solid black 2px;
  
}
body {
  background: blanchedalmond;
}
.header {
  border: solid blue 2px;
}

.article-card {
  border: solid lightcoral 2px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: solid purple 2px;
  
}
li {
  margin-top: 10px;
  margin-bottom: 5px;
}

img {
  max-width: 600px;
  max-height: 400px;
}

nav {
  color: yellow;
  padding: 2em;
}

.articles-list {
  display: flex;
  justify-content:space-around;
  gap: 50px;
  flex-wrap: wrap;
}

.logo {
  max-width: 100px;
  max-height: 55px;
  margin-top: 0px;
}